<!DOCTYPE HTML>
<html ng-app="miniWeeblyApp">
   <head>
      <title>Mini-Weebly</title>
      <link rel="stylesheet" href="css/main.css" />

      <script src="js/angular.js"></script>
      <script src="js/underscore.js"></script>
      <script src="js/app.js"></script>
   </head>
   <body>

      <div id="header">
         <div class="header-image">
         </div>
      </div>
      <div id="sideview">

         <h1>Templates</h1>
         <ul class="page-nav" 
            ng-controller="pageCtrl">

            <li ng-repeat="page in pageService.pages" 
               ng-mouseenter="hover=true" 
               ng-mouseleave="hover=false"
               ng-class="{selected: pageService.currentIndex == $index, deleting: deleting}">

                <span 
                   ng-bind="page.title" 
                   ng-hide="editing">
                </span>

               <input class="transparent" 
                  ng-minlength="1"
                  ng-model="page.title" 
                  ng-show="editing"/>

               <div class="delete" 
                  ng-show="hover" 
                  ng-mouseenter="deleting=true"
                  ng-mouseleave="deleting=false"
                  ng-click="deletePage($index)">
               </div>

               <div class="edit" 
                  ng-show="hover" 
                  ng-click="editing = !editing">
               </div>
               
            </li>

            <li class="new transparent"> 

               <input class="transparent" 
                  type="text" 
                  placeholder="ADD NEW PAGE" 
                  ng-init="title=''" 
                  ng-model="title"/>

               <div class="add" 
                  ng-click="addPage()">
               </div>

            </li>
         </ul>

         <h1>Elements</h1>

         <ul class="element-nav" 
            ng-controller="pageCtrl" 
            ng-init="draggable=['title', 'text', 'image', 'nav']">

            <li ng-repeat="type in draggable" 
               ng-class="{ hovered: hover }">

               <div draggable 
                  ng-mouseenter="hover=true" 
                  ng-mouseleave="hover=false" 
                  class="{{ type }}" 
                  type="{{ type }}">
               </div>

               <h4 ng-bind="type">
               </h4>

            </li>
         </ul>

         <h1>Settings</h1>

         <div class="settings-nav" 
            ng-class="{ enabled: enabled }"
            ng-init="enabled=false">

            <span>
               Site Grid
            </span>

            <div class="settings-image"
               ng-click="enabled=!enabled" >
            </div>

         </div>

      </div>

      <div id="templateview" 
         ng-controller="pageCtrl"> 

         <ul class="template-nav">

            <li ng-repeat="page in pageService.pages" 
               ng-class="{ selected: page == pageService.currentPage }"
               ng-click="selectPage($index)">

               <span ng-bind=page.title>
               </span>

            </li>

         </ul>

         <div droppable
            class="group-drop"
            ng-controller="templateCtrl">

            <h1 ng-show="pageService.currentPage.groups.length == 0">
               Add content here
            </h1>


            <div class="element {{ element.type }}"
               data-id="{{ element.id }}"
               ng-class="{ hovered: hover || (servDrop.active && servDrop.id == element.id), deleting: deleting && hover }"
               ng-controller="elementCtrl"
               ng-repeat="element in pageService.currentPage.elements"
               ng-mouseenter="hover = (!servDrop.active)"
               ng-mouseleave="hover = false"
               ng-mousedown="startResize('move', element.id)"
               ng-style="{ 
                  height: element.size.height + 'px', 
                  width: element.size.width + 'px',
                  top: element.current.top + 'px',
                  left: element.current.left + 'px'
               }">


               <div class="drag-left"
                  ng-show="hover || (servDrop.active && servDrop.id == element.id)" 
                  ng-mousedown="startResize('left', element.id)">
               </div>

               <div class="drag-right"
                  ng-show="hover || (servDrop.active && servDrop.id == element.id)" 
                  ng-mousedown="startResize('right', element.id)">
               </div>

               <div class="drag-bottom"
                  ng-show="hover || (servDrop.active && servDrop.id == element.id)" 
                  ng-mousedown="startResize('bottom', element.id)">
               </div>

               <div class="delete"
                  ng-mouseenter="deleting = true"
                  ng-mouseleave="deleting = false"
                  ng-show="hover || (servDrop.active && servDrop.id == element.id)" 
                  ng-mousedown="$event.stopPropagation();"
                  ng-click="deleteElement(element.id)">
               </div>

               <div 
                  ng-show="element.type == 'image'">

                  <div class="image-background">
                     Add Image +
                  </div>

               </div>

               <div class="nav"
                  ng-show="element.type == 'nav'">

                  <span>
                     Webpage Navigation
                  </span>
               </div>

               <input 
                  placeholder="Add Title Here"
                  ng-model="element.content"
                  ng-show="element.type == 'title'"/>

               <textarea
                  placeholder="Start typing here."
                  ng-model="element.content"
                  ng-show="element.type == 'text'">
               </textarea>

            </div>

         </div>
      </div>
   </body>
</html>
