<!DOCTYPE HTML>
<html ng-app="miniWeeblyApp">
   <head>
      <title>Mini-Weebly</title>
      <link rel="stylesheet" href="css/main.css" />

      <script src="js/angular.js"></script>
      <script src="js/app.js"></script>
   </head>
   <body>


      <div id="header"></div>
      <div id="sideview">

         <h1>Templates</h1>
         <ul class="page-nav" ng-controller="pageCtrl">
            <li ng-repeat="page in pageService.pages" 
                ng-mouseenter="hover=true" 
                ng-mouseleave="hover=false"
                ng-class="{selected: pageService.currentIndex == $index}">

               <h3 ng-bind="page.title" ng-hide="editing"></h3>
               <input ng-model="page.title" ng-show="editing"/>

               <div class="delete" ng-show="hover" ng-click="deletePage($index)"></div>
               <div class="edit" ng-show="hover" ng-click="editing = !editing"></div>
            </li>

            <li class="new"> 
               <input type="text" placeholder="ADD NEW PAGE" ng-model="title" />
               <div class="add" ng-click="addPage()"></div>
            </li>
         </ul>

         <h1>Elements</h1>
         <ul class="element-nav">
            <li><div dragme class="title" type="title"></div><h4>TITLE</h4></li>
            <li><div dragme class="text" type="text"></div><h4>TEXT</h4></li>
            <li><div dragme class="image" type="image"></div><h4>IMAGE</h4></li>
            <li><div dragme class="nav" type="nav"></div><h4>NAV</h4></li>
         </ul>
         <h1>Settings</h1>

      </div>

      <div id="templateview" ng-controller="pageCtrl"> 
         <ul class="template-nav">
            <li ng-repeat="page in pageService.pages" 
                  ng-click="selectPage($index)" 
                  ng-class="{selected: page == pageService.currentPage }">

               <h3 ng-bind=page.title></h3>
            </li>
         </ul>

         <div dropme drop="addElement()" ng-controller="templateCtrl" class="elements-drop">
            <h1 
               ng-show="pageService.currentPage.elements.length == 0"
               >Add content here</h1>
            <ul class="elements-view">
               <li ng-repeat="element in pageService.currentPage.elements"
                     ng-mouseenter="hover=true"
                     ng-mouseleave="hover=false"
                     type="element.type">
                  <h1>{{element.type}}</h1>

                  <span ng-show="hover && !dropService.active" ng-click="deleteElement($index)">DELETE</span>
               </li>
            </ul>
         </div>
      </div>

   </body>
</html>
