<!DOCTYPE HTML>
<html ng-app="miniWeeblyApp">
   <head>
      <title>Mini-Weebly</title>
      <link rel="stylesheet" href="css/main.css" />

      <script src="js/angular.js"></script>
      <script src="js/app.js"></script>
   </head>
   <body>

      <div id="header"></div>
      <div id="sideview">

         <h1>Templates</h1>
         <ul class="page-nav" ng-controller="pageCtrl">
            <li ng-repeat="page in pageService.pages" 
                ng-mouseenter="hover=true" 
                ng-mouseleave="hover=false"
                ng-class="{selected: pageService.currentIndex == $index}">

               <h3 ng-bind="page.title" ng-hide="editing"></h3>
               <input ng-model="page.title" ng-show="editing"/>

               <div class="delete" ng-show="hover" ng-click="deletePage($index)"></div>
               <div class="edit" ng-show="hover" ng-click="editing = !editing"></div>
            </li>

            <li class="new"> 
               <input type="text" placeholder="ADD NEW PAGE" ng-model="title" />
               <div class="add" ng-click="addPage()"></div>
            </li>
         </ul>

         <h1>Elements</h1>
         <ul class="element-nav">
            <li><div draggable class="title" type="title"></div><h4>TITLE</h4></li>
            <li><div draggable class="text" type="text"></div><h4>TEXT</h4></li>
            <li><div draggable class="image" type="image"></div><h4>IMAGE</h4></li>
            <li><div draggable class="nav" type="nav"></div><h4>NAV</h4></li>
         </ul>
         <h1>Settings</h1>

      </div>

      <div id="templateview" ng-controller="pageCtrl"> 
         <ul class="template-nav">
            <li ng-repeat="page in pageService.pages" 
                  ng-click="selectPage($index)" 
                  ng-class="{selected: page == pageService.currentPage }">

               <h3 ng-bind=page.title></h3>
            </li>
         </ul>

         <div droppable-area
            ng-controller="templateCtrl" class="group-drop">

            <h1 ng-show="pageService.currentPage.groups.length == 0">
               Add content here
            </h1>

            <ul class="groups-view">

               <li ng-repeat="group in pageService.currentPage.groups"
                  ng-class="{ 
                     'drop-indicator': hoverElementIndex < 0 && hoverGroupIndex == $index ,
                     'drop-indicator-bottom': hoverElementIndex < 0 && hoverGroupIndex == pageService.currentPage.groups.length && hoverGroupIndex-1 == $index}">

                     <div 
                        ng-show="hoverGroupIndex == $index && hoverElementIndex == 0 && group.elements.length < 2" 
                        class="element drop-indicator half">
                     </div>

                  <div ng-repeat="elements in group.elements"
                     class="element {{ group.elements[$index].type }}"
                     ng-mouseenter="hover = true"
                     ng-mouseleave="hover = false"
                     ng-class="{ 
                           half: group.elements.length > 1
                           || (hoverGroupIndex == $parent.$index && hoverElementIndex > -1) 
                        }">

                     <div
                        style="position: absolute; top: 0; right: 0;"
                        ng-show="hover && !servDrop.active" 
                        ng-click="deleteElement($parent.$index, $index)">
                        x
                     </div>

                     <div 
                        class="image"
                        ng-show="group.elements[$index].type == 'image'">
                        Add image here
                     </div>

                     <div 
                        class="nav"
                        ng-show="group.elements[$index].type == 'nav'">
                        here is the nav
                     </div>

                     <input 
                        class="title"
                        ng-model="group.elements[$index].content"
                        ng-show="group.elements[$index].type == 'title'">
                     </input>
                     
                     <textarea
                        class="text"
                        ng-model="group.elements[$index].content" 
                        ng-show="group.elements[$index].type == 'text'">
                     </textarea>


                  </div>

                  <div 
                     ng-show="hoverGroupIndex == $index && hoverElementIndex == 1 && group.elements.length < 2" 
                     class="element drop-indicator half">
                  </div>

                  <div style="clear: both;"></div>
               </li>
            </ul>
         </div>
      </div>

   </body>
</html>
